@model LessonListViewModel
@{
    List<LessonViewModel> lessons = Model.Lessons;
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Ders İşlemleri</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                    <li class="breadcrumb-item active">Ders İşlemleri</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Dersleri listeleme, düzenleme ve silme işlemleri yapabilirsiniz.</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">

                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th width="80">Id</th>
                                    <th>Ders Adı</th>
                                    <th width="240">İşlemler</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var lesson in lessons)
                                {
                                    @*<tr>
                                <td>@advert.Id</td>
                                <td>@advert.Lesson.Name</td>
                                <td>@advert.Teacher.User.FirstName @advert.Teacher.User.LastName.Substring(0,1)</td>
                                <td>@advert.Name</td>
                                </tr>*@
                                    <tr>
                                        <td>@lesson.Id</td>
                                        <td>@lesson.Name</td>
                                        <td>
                                            <a class="btn btn-warning btn-sm"
                                           asp-area="Admin"
                                           asp-controller="Lesson"
                                           asp-action="Edit"
                                           asp-route-id=@lesson.Id>Düzenle</a>

                                            <a class="btn btn-danger btn-sm"
                                           asp-area="Admin"
                                           asp-controller="Lesson"
                                           asp-action="Delete"
                                           asp-route-id=@lesson.Id>Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
@section Styles{
    @await Html.PartialAsync("_DataTablesStylesPartialView")
}
@section Scripts{
    @await Html.PartialAsync("_DataTablesScriptsPartialView")
}
@*<div class="container-fluid mt-3">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="display-6">Ders Listesi</h1>
        <div class="d-flex flex-row align-items-end gap-5">
            <div>
                <a class="btn btn-success" asp-area="Admin" asp-controller="Lesson" asp-action="Create">Ders Ekle</a>
            </div>
        </div>
    </div>
    <hr />
    <table class="table table-bordered">
        <thead class="text-bg-success">
            <tr>
                <th width="80">Id</th>
                <th>Ders Adı</th>
                <th width="240">İşlemler</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var lesson in lessons)
            {
                <tr>
                    <td>@lesson.Id</td>
                    <td>@lesson.Name</td>
                    <td>
                        <a class="btn btn-warning btn-sm"
                        asp-area="Admin"
                        asp-controller="Lesson"
                        asp-action="Edit"
                        asp-route-id=@lesson.Id>Düzenle</a>

                        <a class="btn btn-danger btn-sm"
                        asp-area="Admin"
                        asp-controller="Lesson"
                        asp-action="Delete"
                        asp-route-id=@lesson.Id>Sil</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>*@