@model AdvertDetailsPageViewModel

<div style="background-color:black; height:150px"></div>
<section class="section lb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tagline-message page-title text-center">
                    <h3>İlan Detayları</h3>
                    <ul class="breadcrumb">
                        <li><a href="javascript:void(0)">Özel Akademi</a></li>
                        <li class="active">Özel Ders</li>
                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end section -->
<section class="section">
    <div class="container">
        <div class="boxed">
            <div class="row">
                <div class="col-md-6 shop-media">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="image-wrap entry" style="margin-top:45px;">
                                <img src="~/images/@Model.AdvertDetail.Teacher.User.Image.Url" class="img-responsive" style="border-radius:50%">
                            </div><!-- end image-wrap -->
                        </div>
                    </div><!-- end row -->
                    <hr class="invis">
                    
                </div><!-- end col -->

                <div class="col-md-6">
                    <div class="shop-desc">
                        <h2>@Model.AdvertDetail.Name</h2>
                        <h3>@Model.AdvertDetail.Teacher.User.FirstName @Model.AdvertDetail.Teacher.User.LastName.Substring(0,1)</h3>
                        <p class="list-inline">@Model.AdvertDetail.Lesson.Name</p>
                        <small>@Model.AdvertDetail.Price TL</small>
                        <p>@Model.AdvertDetail.Description</p>
                        <p>@Model.AdvertDetail.Comment</p>
                        <div class="shop-meta">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a asp-area=""asp-controller="Home" asp-action="GetPayment" asp-route-id="@Model.AdvertDetail.Id"
    class="btn btn-primary">Dersi Satın Al </a>
                            }
                            else
                            {
                                <a asp-area="" asp-controller="Account" asp-action="Login" 
                                   class="btn btn-primary">Dersi Satın Al </a>
                                   
                            }

                        </div><!-- end shop meta -->
                    </div><!-- end desc -->
                </div><!-- end col -->
            </div><!-- end row -->

            <hr class="invis">

            <div class="row">
                <div class="col-md-12">
                    <div class="shop-extra">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home">Description</a></li>
                            <li><a data-toggle="tab" href="#menu1">Additional information</a></li>
                            <li><a data-toggle="tab" href="#menu2">Reviews (2)</a></li>
                        </ul>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">
                                <p>Suspendisse tristique porttitor magna, ac pulvinar libero lobortis at. Quisque sit amet facilisis eros. Vestibulum id ligula elementum, rutrum nunc sit amet, vulputate diam. Phasellus finibus mauris leo, quis commodo elit pellentesque quis. Phasellus a justo in enim maximus dictum nec interdum erat. Integer varius justo id nunc vulputate scelerisque. Curabitur maximus tristique magna. Nulla ut laoreet turpis, vel porta mauris. Suspendisse et varius orci, eget ullamcorper lacus. Duis accumsan odio at elit facilisis semper.</p>

                                <p>Phasellus finibus mauris leo, quis commodo elit pellentesque quis. Phasellus a justo in enim maximus dictum nec interdum erat. Integer varius justo id nunc vulputate scelerisque. Curabitur maximus tristique magna. Nulla ut laoreet turpis, vel porta mauris. Suspendisse et varius orci, eget ullamcorper lacus. Duis accumsan odio at elit facilisis semper.</p>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <h3>Additional information</h3>
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td><strong>Weight</strong></td>
                                            <td>4.5 kg</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Colors</strong></td>
                                            <td>Brown, Black</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Size</strong></td>
                                            <td>50cm x 30cm</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <h3>Reviews</h3>

                                <p>Your email address will not be published. Required fields are marked *</p>

                                <div class="rating">
                                    <p>Your Rating</p>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <hr class="invis">
                                <form class="big-contact-form row" role="search">
                                    <div class="col-md-12">
                                        <textarea class="form-control" placeholder="Your reviews.."></textarea>
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" placeholder="Enter your name..">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="email" class="form-control" placeholder="Enter email..">
                                    </div>
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- end shop-extra -->
                </div><!-- end col -->
            </div><!-- end row -->
            <hr class="invis">
            <section class="section gb">
                <div style="width:95%; margin-left:20px;">
                    <div class="section-title text-center">
                        <h3>Önerilen İlanlar</h3>
                        @*<p>Maecenas sit amet tristique turpis. Quisque porttitor eros quis leo pulvinar, at hendrerit sapien iaculis. Donec consectetur accumsan arcu, sit amet fringilla ex ultricies.</p>*@
                    </div><!-- end title -->

                    <div id="owl-01" class="owl-carousel owl-theme owl-theme-01">
                        
                        
                            @foreach (var advert in Model.AllAdverts)
                            {
                                @await Html.PartialAsync("_AdvertPartial", advert)
                            }
                        
                        


                        @*<div class="caro-item">
                        <div class="course-box">
                        <div class="image-wrap entry">
                        <img src="upload/course_02.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                        <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                        </div><!-- end image-wrap -->
                        <div class="course-details">
                        <h4>
                        <small>Design</small>
                        <a href="#" title="">Designing Game UI Assets in Adobe Illustrator</a>
                        </h4>
                        <p>Curabitur condimentum velit non odio mattis tristique. Nam vitae orci aliquam. </p>
                        </div><!-- end details -->
                        <div class="course-footer clearfix">
                        <div class="pull-left">
                        <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-user"></i> 41</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> 33 Min.</a></li>
                        </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                        <ul class="list-inline">
                        <li><a href="#">$55.00</a></li>
                        </ul>
                        </div><!-- end left -->
                        </div><!-- end footer -->
                        </div><!-- end box -->
                        </div><!-- end col -->

                        <div class="caro-item">
                        <div class="course-box">
                        <div class="image-wrap entry">
                        <img src="upload/course_03.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                        <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                        </div><!-- end image-wrap -->
                        <div class="course-details">
                        <h4>
                        <small>PHP Coding</small>
                        <a href="#" title="">How to Become a Web Developer: Learn PHP</a>
                        </h4>
                        <p>Donec auctor nec nibh sit amet pulvinar. Mauris nulla elit, lacinia ac facilisis mattis.</p>
                        </div><!-- end details -->
                        <div class="course-footer clearfix">
                        <div class="pull-left">
                        <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-user"></i> 35</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> 1 Hrs.</a></li>
                        </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                        <ul class="list-inline">
                        <li><a href="#">$51.00</a></li>
                        </ul>
                        </div><!-- end left -->
                        </div><!-- end footer -->
                        </div><!-- end box -->
                        </div><!-- end col -->

                        <div class="caro-item">
                        <div class="course-box">
                        <div class="image-wrap entry">
                        <img src="upload/course_04.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                        <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                        </div><!-- end image-wrap -->
                        <div class="course-details">
                        <h4>
                        <small>PHP Coding</small>
                        <a href="#" title="">How to Build a Custom Theme for Drupal 8</a>
                        </h4>
                        <p>Pellentesque ut enim dictum, interdum lorem eget, vulputate eros sed felis euismod.</p>
                        </div><!-- end details -->
                        <div class="course-footer clearfix">
                        <div class="pull-left">
                        <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-user"></i> 35</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> 45 Min.</a></li>
                        </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                        <ul class="list-inline">
                        <li><a href="#">$51.00</a></li>
                        </ul>
                        </div><!-- end left -->
                        </div><!-- end footer -->
                        </div><!-- end box -->
                        </div><!-- end col -->

                        <div class="caro-item">
                        <div class="course-box">
                        <div class="image-wrap entry">
                        <img src="upload/course_01.jpg" alt="" class="img-responsive">
                        <div class="magnifier">
                        <a href="#" title=""><i class="flaticon-add"></i></a>
                        </div>
                        </div><!-- end image-wrap -->
                        <div class="course-details">
                        <h4>
                        <small>Javascript</small>
                        <a href="#" title="">Modern JavaScript Linting With ESLint</a>
                        </h4>
                        <p>Fusce interdum, elit sit amet vehicula malesuada, eros libero elementum orci.</p>
                        </div><!-- end details -->
                        <div class="course-footer clearfix">
                        <div class="pull-left">
                        <ul class="list-inline">
                        <li><a href="#"><i class="fa fa-user"></i> 21</a></li>
                        <li><a href="#"><i class="fa fa-clock-o"></i> 15 Min.</a></li>
                        </ul>
                        </div><!-- end left -->

                        <div class="pull-right">
                        <ul class="list-inline">
                        <li><a href="#">$22.00</a></li>
                        </ul>
                        </div><!-- end left -->
                        </div><!-- end footer -->
                        </div><!-- end box -->
                        </div><!-- end col -->*@
                    </div><!-- end row -->

                    <hr class="invis">

                    <div class="section-button text-center">
                        <a href="#" class="btn btn-primary">View All Courses</a>
                    </div>
                </div><!-- end container -->
            </section>
        </div><!-- end boxed -->
    </div><!-- end container -->
</section>